.aside {
  position: relative;
  top: -172px;
  max-width: 400px;
  margin-left: auto;
  margin-right: 3em;
  -webkit-box-shadow: 0px 5px 43px 2px rgba(34, 60, 80, 0.2);
  -moz-box-shadow: 0px 5px 43px 2px rgba(34, 60, 80, 0.2);
  box-shadow: 0px 5px 43px 2px rgba(34, 60, 80, 0.2);
  z-index: 20;
}

.aside__header {
  min-height: 200px;
  background-color: rgb(242, 230, 128);
}

.aside__title {
  min-height: 40px;
  background-color: rgb(222, 222, 222);
}

.aside__content {
  min-height: 350px;
  background-color: #fff;
}

@media screen and (max-width: 992px) {
  .aside {
    max-width: 240px;
  }
}
